* {
  background-color: #11cfcf;
}

#title {
  color: white;
  font-size: 150%;
  margin: auto;
  width: 25%;
}

#container {
  display: flex;
  margin-left: 2%;
}

.display {
  flex: 50%;
}

#form-content {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
}

.input-form {
  background-color: white;
  width: 70%;
  padding: 20px;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

#company-tel {
  display: grid;
  grid-auto-flow: column;
  margin-right: 0%;
}

#form-submit {
  background-color: #ffea3d;
  border: none;
  color: gray;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  left: 380px;
}

#adress {
  color: white;
  font-size: 30px;
}

#adress-link {
  text-decoration: none;
  color: #ffea3d;
}
