* {
  margin: 0%;
  padding: 0%;
}
body{
  font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.custom-icon {
  font-size: 18px;
  color: white;
}
@media all {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 15px 14px 34px;
  }
  .navbar .nav-item:hover .nav-link {
    color: blue;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    border: none;
    border-top: 2px solid blue;
    border-radius: 0px;
  }
  .slider{
    height: 735px;
  }
.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel-indicators {
  left: 96%;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  margin-right: 0%; */
  margin-bottom: 0rem;
  margin-left: 0%;
  list-style: none;
  top: 50%;
}
.carousel-indicators [data-bs-target] {
  width: 14px;
  height: 14px;
}
.caption-content{
  padding-top: 15%;
}
.animate__animated .animate__pulse {
  --animate-duration: 3s;
  --animate-delay: 0s;
}
.about-us h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -31%;
  top: 40%;
  position: absolute;
  content: "";
}
.about-us h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -31%;
  top: 40%;
  position: absolute;
  content: "";
}
.about-us h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -51%;
  top: 60%;
  position: absolute;
  content: "";
}
.about-us h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -51%;
  top: 60%;
  position: absolute;
  content: "";
}

.details{
  width: 402px;
  top: 5%;
  right: 434px;
}
.details i {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}


.counters {
	padding: 40px 20px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: skyblue;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
  color: rgba(12, 12, 12, 0.575);
}
.counters h3{
  color: rgba(12, 12, 12, 0.575);
}
@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		border-bottom: 1px lightskyblue solid;
		padding-bottom: 20px;
	}
}

.hover-devs{
  background-image: url(/4th_task/images/service-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.hover-devs h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -21%;
  top: 40%;
  position: absolute;
  content: "";
}
.hover-devs h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -21%;
  top: 40%;
  position: absolute;
  content: "";
}
.hover-devs h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -36%;
  top: 60%;
  position: absolute;
  content: "";
}
.hover-devs h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -36%;
  top: 60%;
  position: absolute;
  content: "";
}
.show{
  padding: 70px 20px;
}
.content.hidden{
  top: 100%;
  transition: all 1s ease-in;
}
.content :hover + .hidden {
  top: 0;
}
.our-work .title h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -30%;
  top: 40%;
  position: absolute;
  content: "";
}
.our-work .title h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -30%;
  top: 40%;
  position: absolute;
  content: "";
}
.our-work .title h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -49%;
  top: 60%;
  position: absolute;
  content: "";
}
.our-work .title h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -49%;
  top: 60%;
  position: absolute;
  content: "";
}
.our-work .changable .img :hover{
  box-shadow: 0px 0px 10px 10px #888888;
}
.our-work .hover {
  opacity: 0.9;
  bottom: 24px;
  left: 46px;
  transform: scale(0,0);
  transition: transform 0.5s ease;
}
.changable :hover + .hover {
  transform: scale(1,1);
}
.team .title h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -16%;
  top: 40%;
  position: absolute;
  content: "";
}
.team .title h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -16%;
  top: 40%;
  position: absolute;
  content: "";
}
.team .title h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -26%;
  top: 60%;
  position: absolute;
  content: "";
}
.team .title h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -26%;
  top: 60%;
  position: absolute;
  content: "";
}
.team .hidden{
  bottom: -115px;
  transition: bottom 1s ease;
}
.worker :hover + .hidden{
  bottom: 0px;
}

.pricing .title h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -25%;
  top: 40%;
  position: absolute;
  content: "";
}
.pricing .title h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -25%;
  top: 40%;
  position: absolute;
  content: "";
}
.pricing .title h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -41%;
  top: 60%;
  position: absolute;
  content: "";
}
.pricing .title h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -41%;
  top: 60%;
  position: absolute;
  content: "";
}
.card .personal::after{
  width: 90px;
  height: 2px;
  background-color: #0c65ed;
  left: 39%;
  bottom: -37%;
  position: absolute;
  content: "";
}
.testomonial .title h2 ::before {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  right: -25%;
  top: 40%;
  position: absolute;
  content: "";
}
.testomonial .title h2 ::after {
  width: 40px;
  height: 3px;
  background-color: #0c65ed;
  left: -25%;
  top: 40%;
  position: absolute;
  content: "";
}
.testomonial .title h2::before {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -41%;
  top: 60%;
  position: absolute;
  content: "";
}
.testomonial .title h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  left: -41%;
  top: 60%;
  position: absolute;
  content: "";
}
.slick-content{
  position: relative;
}
.slick-prev{
  position: absolute;
  bottom: 0px;
  background: blue;
  top: 305px;
  width: 50px;
  height: 33px;
  border-radius: 16px 0px 0px 16px;
  left: 540px;
}
.slick-prev:hover{
   background: blue;
}

.slick-next{
  position: absolute;
  bottom: 0px;
  background: blue;
  top: 305px;
  width: 50px;
  height: 33px;
  border-radius: 0px 16px 16px 0px;
  left: 650px;
}
.slick-next:hover{
      background: blue;
}

.blog .title h2 ::after {
  width: 75px;
  height: 1px;
  background-color: #0c65ed;
  left: -48%;
  top: 60%;
  position: absolute;
  content: "";
}
.blog .title h2::before {
  width: 75px;
  height: 1px;
  background-color: #0c65ed;
  right: -48%;
  top: 60%;
  position: absolute;
  content: "";
}

.blog .content h5::after {
  width: 25%;
  height: 2px;
  background-color: #0c65ed;
  left: 0%;
  bottom: -12%;
  position: absolute;
  content: "";
}
.card-image{
  transition: all 1s ease-in-out;
}
.card-all:hover .card-image{
  transform: scale(1.1) rotate(-2deg);
}
.card-all:hover h5::after{
  transition: all 1s ease-in-out;
}
.card-all:hover h5::after{
  width: 90%;
}
.social{
  background-color: #1a1a1a;
  transition: all 1s ease-in-out;
}
.card-all:hover .social{
  background: #0c65ed;
}
.arrow .fas{
  padding-left: 15px;
  transition: all 1s ease-in-out;
}
.arrow:hover > .fas{
  padding-left: 35px;
} 
.clients .title h2 ::after {
  width: 114px;
  height: 2px;
  background-color: #0c65ed;
  right: -42%;
  top: 60%;
  position: absolute;
  content: "";
}
.clients .title h2::after {
  width: 75px;
  height: 2px;
  background-color: #0c65ed;
  right: -30%;
  top: 40%;
  position: absolute;
  content: "";
}
.client-image{
  filter: drop-shadow(-11px 0 7px rgba(140,140,140,0.4));
}
.purchas .contact::after{
  content: "\f2a0";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  color: #ffffff78;
  font-size: 98px;
  left: 11%;
  top: -7%;
  position: absolute;
  transform: rotate(-41deg);
}
.contact-info .contact h2::after{
  width: 97px;
  height: 2px;
  background-color: #0c65ed;
  left: 0;
  bottom: -11px;
  position: absolute;
  content: "";
}
.contact-info .posts h2::after{
  width: 97px;
  height: 2px;
  background-color: #0c65ed;
  left: 0;
  bottom: -11px;
  position: absolute;
  content: "";
}
.contact-info figure{
  height: 80px;
  width: 80px;
}
.contact-info .popular h2::after{
  width: 97px;
  height: 2px;
  background-color: #0c65ed;
  left: 0;
  bottom: -11px;
  position: absolute;
  content: "";
}
.popular a:hover{
  background-color: #0c65ed;
  color: white;
}
.top-arrow{
  bottom: 50px;
  right: 10px;
  width: 45px;
  height: 45px;
  justify-content: center;
  display: flex;
  line-height: 54px;
  border-radius: 60px;
}
.gears{
  top: 273px;
  left: 3px;
  z-index: 1000;
}